//
// Main init file of global bootstrap and theme functions, mixins, variables and config
//


// Custom functions & mixins
@import "base/functions";
@import "base/mixins";
@import "components/mixins";
@import "vendors/plugins/mixins";

// Custom variables
@import "components/variables.custom";
@import "components/variables";
@import "components/variables-dark";
@import "components/variables.override";

// Bootstrap initializaton
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/variables-dark";
@import "bootstrap/maps";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

// 3rd-Party plugins variables
@import "vendors/plugins/variables";
@import "vendors/plugins/variables-dark";

// Custom layout variables
@import "layout/variables";

