@inherits LayoutComponentBase

<div class="container d-flex align-items-center justify-content-center">
    <div class="flex-column flex-row-fluid">
        <div class="d-flex flex-column flex-column-fluid">
            <div class="d-flex justify-content-center mt-10 mb-10">
                <a href="/">
                    <img alt="Logo" src="/svg/logo.svg" class="h-70px">
                </a>
            </div>
            
            @Body
        </div>
    </div>
</div>