@inherits LayoutComponentBase

<main class="page-wrapper">
    <section class="container pt-5">
        <div class="row">
            <div class="row g-0 border rounded-3 shadow-sm position-relative overflow-hidden p-5" style="margin-top: 5vh">
                @Body
            </div>
        </div>
    </section>
</main>